In [2]:
import numpy as np
import pandas as pd

In [6]:
df = pd.read_csv('train_set.csv')

In [7]:
df

,Id,Product_Code,Product_Weight,Fat_Category,Visibility_Score,Category_Type,Retail_Price,Store_Code,Year_Opened,Store_Size,Location_Class,Store_Category,Total_Sales
0,1,FDI28,14.300,Reduced,0.026300,Frozen Foods,79.4302,OUT013,1987,Spacious,Rural,Superstore A,1743.0644
1,2,NCM17,7.930,Reduced,0.071136,Health and Hygiene,42.7086,OUT046,1997,Compact,Urban,Superstore A,356.8688
2,3,FDC14,14.500,Standard,0.041313,Canned,42.0454,OUT049,1999,Standard,Urban,Superstore A,377.5086
3,4,DRC36,NaN,Standard,0.044767,Beverages,173.7054,OUT027,1985,Standard,Rural,Superstore C,5778.4782
4,5,FDS27,10.195,Standard,0.012456,Proteins,197.5110,OUT035,2004,Compact,Suburban,Superstore A,2356.9320
...,...,...,...,...,...,...,...,...,...,...,...,...,...
7745,7746,FDK24,9.195,Reduced,0.101500,Baking Goods,45.2744,OUT045,2002,NaN,Suburban,Superstore A,679.1160
7746,7747,FDX33,9.195,Standard,0.117485,Snack Foods,158.5578,OUT046,1997,Compact,Urban,Superstore A,2406.8670
7747,7748,FDM45,8.655,Standard,0.088195,Snack Foods,119.6756,OUT046,1997,Compact,Urban,Superstore A,2423.5120
7748,7749,FDU45,NaN,Standard,0.035334,Snack Foods,115.3518,OUT027,1985,Standard,Rural,Superstore C,2277.0360
7749,7750,FDR44,6.110,Standard,0.102921,Produce,130.4968,OUT046,1997,Compact,Urban,Superstore A,3523.4136

---

## Cleaning the Data

In [9]:
# checking the number of non-null values in each coloumn
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7750 entries, 0 to 7749
Data columns (total 13 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Id                7750 non-null   int64
 1   Product_Code      7750 non-null   object
 2   Product_Weight    6424 non-null   float64
 3   Fat_Category      7750 non-null   object
 4   Visibility_Score  7750 non-null   float64
 5   Category_Type     7750 non-null   object
 6   Retail_Price      7750 non-null   float64
 7   Store_Code        7750 non-null   object
 8   Year_Opened       7750 non-null   int64
 9   Store_Size        5565 non-null   object
 10  Location_Class    7750 non-null   object
 11  Store_Category    7750 non-null   object
 12  Total_Sales       7750 non-null   float64
dtypes: float64(4), int64(2), object(7)
memory usage: 787.2+ KB

### We can see that in the Product_Weight and Store_Size column, we have a few null values. Therefore, let us deal with those first.

***Since Product_Weight contains values of float type, therefore the best approach would be to replace the null values with the mean of the rest of the values in the coloumn***

In [10]:
mean_Product_Weight = df["Product_Weight"].mean()
mean_Product_Weight

np.float64(12.850448318804483)

In [14]:
df['Product_Weight'] = df['Product_Weight'].fillna(mean_Product_Weight)

In [15]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7750 entries, 0 to 7749
Data columns (total 13 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Id                7750 non-null   int64
 1   Product_Code      7750 non-null   object
 2   Product_Weight    7750 non-null   float64
 3   Fat_Category      7750 non-null   object
 4   Visibility_Score  7750 non-null   float64
 5   Category_Type     7750 non-null   object
 6   Retail_Price      7750 non-null   float64
 7   Store_Code        7750 non-null   object
 8   Year_Opened       7750 non-null   int64
 9   Store_Size        5565 non-null   object
 10  Location_Class    7750 non-null   object
 11  Store_Category    7750 non-null   object
 12  Total_Sales       7750 non-null   float64
dtypes: float64(4), int64(2), object(7)
memory usage: 787.2+ KB

***The Store_Size coloumn is made up of a uniue datatype object. Therefore , the best best approach would be to remove all the rows that have a null value***

In [16]:
df = df.dropna()

In [17]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 5565 entries, 0 to 7749
Data columns (total 13 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Id                5565 non-null   int64
 1   Product_Code      5565 non-null   object
 2   Product_Weight    5565 non-null   float64
 3   Fat_Category      5565 non-null   object
 4   Visibility_Score  5565 non-null   float64
 5   Category_Type     5565 non-null   object
 6   Retail_Price      5565 non-null   float64
 7   Store_Code        5565 non-null   object
 8   Year_Opened       5565 non-null   int64
 9   Store_Size        5565 non-null   object
 10  Location_Class    5565 non-null   object
 11  Store_Category    5565 non-null   object
 12  Total_Sales       5565 non-null   float64
dtypes: float64(4), int64(2), object(7)
memory usage: 608.7+ KB